@keyframes ldio-um2nvtuxlrc {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-um2nvtuxlrc div {
  left: 94px;
  top: 54px;
  position: absolute;
  animation: ldio-um2nvtuxlrc linear 1s infinite;
  background: #0a0a0a;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 46px;
}.ldio-um2nvtuxlrc div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9615384615384616s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(2) {
  transform: rotate(13.846153846153847deg);
  animation-delay: -0.9230769230769231s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(3) {
  transform: rotate(27.692307692307693deg);
  animation-delay: -0.8846153846153846s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(4) {
  transform: rotate(41.53846153846154deg);
  animation-delay: -0.8461538461538461s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(5) {
  transform: rotate(55.38461538461539deg);
  animation-delay: -0.8076923076923077s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(6) {
  transform: rotate(69.23076923076923deg);
  animation-delay: -0.7692307692307693s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(7) {
  transform: rotate(83.07692307692308deg);
  animation-delay: -0.7307692307692307s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(8) {
  transform: rotate(96.92307692307692deg);
  animation-delay: -0.6923076923076923s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(9) {
  transform: rotate(110.76923076923077deg);
  animation-delay: -0.6538461538461539s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(10) {
  transform: rotate(124.61538461538461deg);
  animation-delay: -0.6153846153846154s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(11) {
  transform: rotate(138.46153846153845deg);
  animation-delay: -0.5769230769230769s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(12) {
  transform: rotate(152.30769230769232deg);
  animation-delay: -0.5384615384615384s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(13) {
  transform: rotate(166.15384615384616deg);
  animation-delay: -0.5s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(14) {
  transform: rotate(180deg);
  animation-delay: -0.46153846153846156s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(15) {
  transform: rotate(193.84615384615384deg);
  animation-delay: -0.4230769230769231s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(16) {
  transform: rotate(207.69230769230768deg);
  animation-delay: -0.38461538461538464s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(17) {
  transform: rotate(221.53846153846155deg);
  animation-delay: -0.34615384615384615s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(18) {
  transform: rotate(235.3846153846154deg);
  animation-delay: -0.3076923076923077s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(19) {
  transform: rotate(249.23076923076923deg);
  animation-delay: -0.2692307692307692s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(20) {
  transform: rotate(263.0769230769231deg);
  animation-delay: -0.23076923076923078s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(21) {
  transform: rotate(276.9230769230769deg);
  animation-delay: -0.19230769230769232s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(22) {
  transform: rotate(290.7692307692308deg);
  animation-delay: -0.15384615384615385s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(23) {
  transform: rotate(304.61538461538464deg);
  animation-delay: -0.11538461538461539s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(24) {
  transform: rotate(318.46153846153845deg);
  animation-delay: -0.07692307692307693s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(25) {
  transform: rotate(332.3076923076923deg);
  animation-delay: -0.038461538461538464s;
  background: #0a0a0a;
}.ldio-um2nvtuxlrc div:nth-child(26) {
  transform: rotate(346.15384615384613deg);
  animation-delay: 0s;
  background: #0a0a0a;
}
.loadingio-spinner-spinner-3nn0am3r2je {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background: transparent;
}
.ldio-um2nvtuxlrc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-um2nvtuxlrc div { box-sizing: content-box; }